.MuiBox-root .css-k60h3s{
    background-color: white !important;
}
.css-1kj1cjl-MuiPaper-root-MuiCard-root{
    background: linear-gradient(135deg, #f5f5f5, #c9d1d9) !important;
}
 .css-sbnikw-MuiPaper-root{

    background: linear-gradient(135deg, #c9d1d9, #c9d1d9) !important;
}
 .css-s2t35c-MuiTabs-scroller{
    background: linear-gradient(135deg, #fff, #e0e7ef) !important;
}
.css-18559ea-MuiTableCell-root{
    color:#fff !important;
}
.css-1ss1vwf-MuiTableRow-root{
    background: linear-gradient(135deg, #959595, #abb7c5) !important;
}
.css-1ucwl3h-MuiTypography-root{
    color:#fff !important;
}
.css-p8yq42{
    border-radius:unset !important;
}
.css-u0jc2n{
    border-radius:unset !important;
}
.MuiBox-root .css-u0jc2n{
    background: linear-gradient(135deg, #fff, #e0e7ef) !important;
}
.css-3nj43h-MuiTypography-root {
    color:#000 !important;
}
.css-ncpc5q-MuiButtonBase-root-MuiTab-root{
    color:#000 !important;
}
.css-1yieft-MuiTypography-root{
    color:#000 !important;
    font-weight: bold !important;
}
.css-3m93hk-MuiTypography-root {
 color:#000 !important;
}
.css-1c5q7a7{
    color:#000 !important;
}

.css-ysuibn-MuiPaper-root{
    width: 650px !important;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.12), #8e9dab) !important;

}
.css-195vgzm{
    background-color: white !important;
    
}
.css-3my7hw-MuiPaper-root-MuiCard-root{
    background: linear-gradient(135deg, #f5f5f5, #c9d1d9) !important;
}
 .css-nkovr6-MuiPaper-root-MuiCard-root{
    background: linear-gradient(135deg, #f3f4f4, #dee2e6) !important;
}
.css-yseucu-MuiDataGrid-columnHeaderRow{
    background: linear-gradient(135deg, #959595, #abb7c5) !important;
    color: white !important;
}
.css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar{
    background: linear-gradient(135deg, #959595, #abb7c5) !important;
    color: white !important;
}
.css-arho22 .MuiDataGrid-root{
    border: 1px solid white !important;
}
.css-dusrmk-MuiSvgIcon-root{
    color:#000 !important;
}
/* .css-yr4jgg-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    background: linear-gradient(135deg, #f37021, #f7941d) !important;
} */
 .css-wex09r-MuiTypography-root{
     background: linear-gradient(90deg, #f37021, #f7941d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.css-17dj7ko-MuiTypography-root{
    background: linear-gradient(90deg, #f37021, #f7941d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .css-t816rk-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    background: linear-gradient(135deg, #f37021, #f7941d) !important;
} */
 .css-18zd9zr-MuiTablePagination-selectLabel{
    margin-top: 15px;
}
.css-smccpa-MuiTablePagination-displayedRows{
    margin-top: 15px;
}
.css-35zs75-MuiCardHeader-root{
    background: linear-gradient(135deg, #959595, #abb7c5) !important;
}
.css-1ay151u-MuiTableCell-root{
    color: #fff !important;
}
.css-1h0ejym-MuiTableRow-root{
    background: linear-gradient(135deg, #959595, #abb7c5) !important;
    color: white !important;
}

.css-4l5p5b-MuiTable-root{
    border: 1px solid #c9d1d9;
    background: linear-gradient(135deg, #fff, #abb7c5) !important;
}

.css-okq8pk-MuiCardHeader-root{
    background: linear-gradient(135deg, #959595, #abb7c5) !important;
}
.css-fbooup-MuiButtonBase-root-MuiButton-root:not(:hover):not(:focus):not(:active){
    color: #FFFFFF !important;
}
.css-179xv0m-MuiButtonBase-root-MuiButton-root:not(:hover):not(:focus):not(:active){
    color: #FFFFFF !important;
}
.css-oc1jq3-MuiButtonBase-root-MuiButton-root:not(:hover):not(:focus):not(:active){
    color: #FFFFFF !important;
}