/* General container */
.delivery-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

/* Title styling */
.delivery-title {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 2rem;
}

/* Signature container */
.signature-box {
  border: 20px solid #bcbfc1;

  border-radius: 8px;
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.signature-canvas {
  border: 0px solid #aaa;
  border-radius: 4px;
  width: 100%;
/*  max-width: 550px;*/
/*  height: 250px;*/
  margin: 0 auto;
  background: #ebeaea;
}

/* Buttons */
.confirm-button{
  margin-top: 10px !important;
}

.confirm-button:hover,
.submit-button:hover {
  background-color: #ffdc00;
}

.submit-container {
  text-align: right;
  margin-top: 2rem;
}

.error-caption {
  color: red;
  display: block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

/* Clear Signature Button */
.clear-signature-button {
  margin-top: 10px;
}

/* Signature Title */
.signature-title {
  text-align: center;
  font-weight: bold !important;
  margin-bottom: 7px !important;
}

.agree-checkbox{
  text-align: left;
}
/* Responsive adjustments */
@media (max-width: 1024px) {
  .delivery-container {
    padding: 1.5rem;
  }

  .delivery-title {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .delivery-container {
    padding: 1rem;
  }

  .delivery-title {
    font-size: 1.5rem;
  }

  .submit-container {
    text-align: center;
  }

  .confirm-button,
  .submit-button {
    width: 100%;
    margin-top: 1rem;
  }

  .signature-box {
/*    align-items: center;*/
  }

  .signature-canvas {
/*    width: 100%;*/
/*    height: 200px;*/
  }
}

@media (max-width: 480px) {
  .delivery-title {
    font-size: 1.3rem;
  }

  .signature-canvas {
/*    height: 180px;*/
  }
}
